@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    padding-inline: 0.75rem;
}

.container {
    padding: 0.75rem;
    text-align: center;
    background: white;
    border-radius: 15px;
    max-width: 480px;

    margin: 50px auto 0;
}

img {
    width: 100%;
    border-radius: 15px;
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
    margin-block: 40px;
}

p {
    font-weight: 400;
    font-size: 1.5rem;
    opacity: 0.5;
}

@media (max-width: 425px) {
    h1 {
        font-size: 2rem;
    }
    
    p {
        font-size: 1.25rem;
    }
}